@media screen and (max-width: 1440px) {
/*body {
  font-size: 2em;
}*/


#right-main h3{
  font-size: 5.5em;
}

#contacts{
height: 8vw;
}

}

/*tabs*/
@media screen and (max-width: 1024px) {
  #right-main h3{
    font-size: 4em;
  }

}

/* large screen mob*/
@media screen and (max-width: 767px) {
  #main-page{
    width: 100vw;
  }
  #right-main h3{
    font-size: 4em;
  }


}

/*small screen mob*/
@media screen and (max-width: 480px) {
  #right-main h3{
    font-size: 3em;
  }


}
