html,
body {
  height: 100%;
  width: 100%;


}

.search{
  height: 20%;
  width: 100%;
  background-color: red;

}

.app{
  height: 80%;
  width: 100%;
  background-color: #eee;
  display: flex;
flex-wrap: wrap;
padding-top: 1%;
}

.list{
height: 100%;
width: 35%;
background-color: blue;

}

#map{
  height: 100%;
  width: 65%;
}

.search h2 {
  padding-top: 1%;
  text-align: center;
  text-decoration-color: #444;
}

hr {
  width: 80%;
}
